input{padding-top:8px;padding-bottom: 8px;}
a:link{text-decoration: none;}

.put-right{float: right;}
.pull-right{text-align: right;}
.center-content{text-align: center;}
.show{display: block !important;}
@media screen and (max-width:768px){
  .m-center-content{text-align: center;}
}
.full-height{height: 100%;max-height: 100%;}
.center-block{margin-left: auto;margin-right: auto;}
.clear{clear: both;}
.bgWhite{background-color: #fff;}
.bgYellow{background-color: yellow;}
.bgDark{background-color: #313437;}
.bgGray{background-color: #ccc;}
.bgShare{background-color: #F0F0F0;}
.bgRed{background-color: red;}
.bgBlue{background-color: blue;}
.bgGreen{background-color: green;}
.bgFooter{background-color: #A6A9AD;}
.color-bindez{color:#4B8024;}

.menubar{margin: 0;width: 100%;height: auto;}
.menu{width: auto;height: auto;display: inline-block;vertical-align: top;position: relative; margin-right: 15px; margin-left: 15px; margin-top: 10px;margin-bottom: 10px;}
.dropmenu{width: 120px;height: auto;display: none;position: absolute;margin-top: 5px; box-shadow: 0px 0px 1px 1px #666;z-index: 10; background-color: #eee;}
.dropmenu-item{display: block;padding:5px 15px 5px 15px; font-size: 13px;text-align: left;}
.dropmenu-item a:link{max-height: 100%;max-width: 100%;display: block;}
.dropmenu-item:hover,.dropmenu-item a:hover{text-decoration: underline;}
.bindez-logo{width: 60px; height: 55px; display: block;}/* responsive image */
@media screen and (max-width: 768px){
  .bindez-logo{width: 45px;height: 40px;}
}
.bindez-pic{max-width:100%; height:auto; display: block;margin-left: auto;margin-right: auto;}/* responsive image */
.brand{margin: 0; font-size: 30px;padding:0;}
@media screen and (max-width: 768px){
  .brand{font-size: 20px;}
}
.container{width: 100%;position: relative;margin: 0;padding: 0;overflow: hidden;}
.btn{padding: 10px 15px; color:#fff;border:none;cursor: pointer;border-radius: 3px;}
.btn-save{background-color:#4460ED; padding-left:2em;padding-right: 2em;}
.btn-cancel{background-color:#3BFF63;padding-left:2em;padding-right: 2em;}
.btn-download{width: 250px; display: block; background-color: #327299; border-radius: 5px;  font-size: 25px;}
.btn-download:hover{background-color: #3C81AB;}
@media screen and (max-width: 768px){
  .btn-download{width: 150px; border-radius: 3px; font-size: 12px;}
}
.control{width: 100%; font-size: 14px;border:none; padding-left: 3px;}
.btn-fbshare{display:inline-block;background-color:#334FB5; min-width:80% ; height: auto;text-align: center; font-size: 20px; padding:20px 0px 20px 0px; border-radius: 5px;}
.btn-fbshare:hover{background-color: #3E5FDD;}
.thumbnail{display: inline-block;vertical-align: top; overflow: hidden;border-radius: 2px;}
.thumbnail-sm{width: 23px;height: 23px;}
.thumbnail .thumbnail-image{max-width: 100%;max-height: 100%;}
.icon{width: 50px; height: 50px; display: inline-block; margin-right: 15px; vertical-align: top;}
.icon-explore{background-image: url('../../asset/search.png');background-repeat: no-repeat; background-size: contain; background-position: center center;}
.icon-eye{background-image: url('../../asset/eye-icon.png');background-repeat: no-repeat; background-size: contain; background-position: center center;}
.icon-share{background-image: url('../../asset/eng-icon.png');background-repeat: no-repeat; background-size: contain; background-position: center center;}
.icon-email{background-image: url('../../asset/email-icon.png');background-repeat: no-repeat; background-size: contain;background-position: center center;}
.icon-fb{background-image: url('../../asset/fb-icon.png');background-repeat: no-repeat; background-size: contain;background-position: center center;}
.error-pane,.info-pane{
  padding:10px 5px 10px 5px;
  width:98%;
  margin-bottom: 12px;
  color:#eee;
  width: 99%;
  font-size: 16px;
  font-weight: bold;
}
.error-pane{
  background-color:#FF502C;
}
.info-pane{
  background-color: #6CFF49;
}
.error-text{color:#FF502C; font-weight: bold; font-size: 16px;}


.layout,.form-layout{width: 100%;display: block;position: relative; font-size: 0;}
.form-layout{font-size: 14px; margin-bottom: 8px;}
.layout .panel{display:inline-block;vertical-align: top; position: relative;}

.m-width-5{width:4.99999%;}
.m-width-10{width:8.99999%;}
.m-width-15{width:14.999999%;}
.m-width-20{width:18.99999%;}
.m-width-25{width:23.99999%;}
.m-width-30{width:28.88999%;}
.m-width-35{width:34.899999%;}
.m-width-40{width:48.999999%;}
.m-width-45{width:44.999999%;}
.m-width-50{width:49.999999%;}
.m-width-55{width:54.868844%;}
.m-width-60{width:59.999%;}
.m-width-65{width:64.99999%;}
.m-width-70{width:68.999999%;}
.m-width-75{width:74.99999%;}
.m-width-80{width:78.99999%;}
.m-width-85{width:85%;}
.m-width-90{width:88.99999%;}
.m-width-95{width:95%;}
.m-width-100{width:100% ;}

/*for tablet */
@media screen and (min-width:768px){
  .t-width-5{width:4.99999%;}
  .t-width-10{width:8.99999%;}
  .t-width-15{width:14.999999%;}
  .t-width-20{width:18.99999%;}
  .t-width-25{width:23.99999%;}
  .t-width-30{width:28.88999%;}
  .t-width-35{width:34.899999%;}
  .t-width-40{width:48.999999%;}
  .t-width-45{width:44.999999%;}
  .t-width-50{width:49.999999%;}
  .t-width-55{width:54.868844%;}
  .t-width-60{width:59.999%;}
  .t-width-65{width:64.99999%;}
  .t-width-70{width:68.999999%;}
  .t-width-75{width:74.99999%;}
  .t-width-80{width:78.99999%;}
  .t-width-85{width:85%;}
  .t-width-90{width:88.99999%;}
  .t-width-95{width:95%;}
  .t-width-100{width:100% ;}
}
/* for normal desktop */
@media screen and (min-width:992px){
  .d-width-5{width:4.99999%;}
  .d-width-10{width:8.99999%;}
  .d-width-15{width:14.999999%;}
  .d-width-20{width:18.99999%;}
  .d-width-25{width:23.99999%;}
  .d-width-30{width:28.88999%;}
  .d-width-35{width:34.899999%;}
  .d-width-40{width:48.999999%;}
  .d-width-45{width:44.999999%;}
  .d-width-50{width:49.999999%;}
  .d-width-55{width:54.868844%;}
  .d-width-60{width:59.999%;}
  .d-width-65{width:64.99999%;}
  .d-width-70{width:68.999999%;}
  .d-width-75{width:74.99999%;}
  .d-width-80{width:78.99999%;}
  .d-width-85{width:85%;}
  .d-width-90{width:88.99999%;}
  .d-width-95{width:95%;}
  .d-width-100{width:100% ;}
}
/* for large desktop */
@media screen and (min-width:1200px){
  .l-width-5{width:4.99999%;}
  .l-width-10{width:8.99999%;}
  .l-width-15{width:14.999999%;}
  .l-width-20{width:18.99999%;}
  .l-width-25{width:23.99999%;}
  .l-width-30{width:28.88999%;}
  .l-width-35{width:34.899999%;}
  .l-width-40{width:48.999999%;}
  .l-width-45{width:44.999999%;}
  .l-width-50{width:49.78888%;}
  .l-width-55{width:54.868844%;}
  .l-width-60{width:59.999%;}
  .l-width-65{width:64.99999%;}
  .l-width-70{width:68.999999%;}
  .l-width-75{width:74.99999%;}
  .l-width-80{width:78.99999%;}
  .l-width-85{width:85%;}
  .l-width-90{width:88.99999%;}
  .l-width-95{width:95%;}
  .l-width-100{width:100% ;}
}
