html,body{width: 100%;height: 100%;margin:0;padding: 0;overflow: hidden;}
a:link{text-decoration: none;}
p,h3{margin: 0;padding: 0;}

/*** utility styles ***/
.put-right{float:right;}
.clear{clear: both;}
.pull-left{text-align: left;}
.pull-right{text-align: right;}
.center{text-align: center;}
.center-block{margin-left: auto;margin-right: auto;}

/*** components ***/
.menubar{
	width: 100%; padding: 0;margin:0;
}
.menubar .menu{
	width: auto; padding: 10px; display: inline-block; vertical-align: top; max-height: 100%; color:#333;
}
.menu:hover{background-color: #666; color: #eee;}
.btn{padding: 10px 15px; text-align: center; border-radius: 3px;font-size: 16px; display: inline-block;}
.btn-large{width: 200px;}
.btn-primary{background-color: #6BFF5D;color: #fff;}

/*** Grids and Layout ***/
.container{width: 100%;height: auto;}
.container-full{width: 100%;height: 100%;}

.layout{
  width: 100%;
  display: block;
  position: relative;
  height: auto;
  margin: 0;
}

.layout .grid{display: block; float: left;position: relative;margin: 0;padding: 0;max-height:100%;}
.layout .grid:last-of-type:after{content: "";clear: both;}

.m-width-100{width: 100%;}
.m-width-33{width:33%;}

.d-width-30{width:30%;}
