/**html,body{margin: 0;padding:0;width: 100%;height: 100%;}

#left-pane{height: 100%;background-color: #4AEDA8;font-size: 16px;}
#right-pane{height: 100%;background-color: #3D3D3D;font-size: 16px;}
#login-section,#signup-section{max-width: 60%;height:100%;display: block;margin-left: auto;margin-right: auto;}
@media screen and (min-width:768px){
  #login-section,#signup-section{margin-top: 25%;}
  .panel main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
  }
}
div.form-layout:last-of-type{
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}
#left-pane div.form-layout:last-of-type{color: #777;}
#right-pane div.form-layout:last-of-type{color: #fff;}


.signup-control{background-color: #666; color:#fff;}
.btn-login{background-color: #FFD032; font-size: 14px; color:#666;}
.btn-signup{background-color: #FF2A60; font-size: 14px; color:#fff;}**/

.pichub-menubar{background-color: #777;}
.menu:first-of-type{margin-left: 30px; margin-right: 20px;}
.menu:last-of-type{margin-right:30px;}
.jumbotron-container{
  height: 55%;position: relative;
  background-image: url('/asset/jumbo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#heading-text{margin-top: 5%;font-family: 'Lora';}
.ph-jumbotron{font-size: 30px; text-align: center;clear: left;}
.ph-jumbotron p{font-size: 1.5em; margin: 0;}
.tagline{margin-bottom: 10px;font-size: 20px; color:#4D4C4C;}
.tagline span{font-size: 1.5em;} .tagline small{font-size: 1em;}
#always-free{margin-top: 2%;margin-bottom: 0;padding: 0;color:#4D4C4C;}
#always-free p{font-size: 30px;}
#license a:link{font-size: 16px;color: #666;margin: 0;padding: 0;}
