html,body{margin: 0;padding:0;width: 100%;height: 100%;/*background-color: #424242;*/ background-color: #fff;}

.pichub-menubar{
  background-color: #777;
  /*background-color: #B500E8;*/
}

nav.menu a{
  color:#333;
  text-decoration: none;
}
#profile-dropmenu{left:10%;}
.noti{color:orange;font-size: 23px;}
.noti:hover{}
