<main class="passwd-edit">
	<form novalidate name="pwdEditForm" ng-submit="peCtrl.changePassword(pwdEditForm.$invalid)">
		<div class="form-layout info-pane" ng-show="msg">{{msg}}</div>
		<div class="form-layout error-pane" ng-show="errMsg">{{errMsg}}</div>
		<div class="form-layout">
			<div class="error-container" ng-show="pwdEditForm.submitted && pwdEditForm.curPasswd.$invalid"> 
				<small class="error-text" ng-show="pwdEditForm.curPasswd.$error.required">Current password needs to be specified</small>
			</div>
			<span><i class="fa fa-lock"></i></span>
			<span>
				<input type="password" name="curPasswd" ng-model="currentPwd" 
				placeholder="Enter current password" class="profile-control" required/>
			</span>
		</div>
		<div class="form-layout">
			<div class="error-container" ng-show="pwdEditForm.submitted && pwdEditForm.newPasswd.$invalid"> 
				<small class="error-text" ng-show="pwdEditForm.newPasswd.$error.required">Current password needs to be specified</small>
			</div>
			<span><i class="fa fa-lock"></i></span>
			<span><input type="password" name="newPasswd" ng-model="newPwd" placeholder="Enter new password" class="profile-control" required/></span>
		</div>
		<div class="for-layout ph-btngroup">
			<span><button type="submit" class="btn btn-save">Save</button></span>
			<span><button type="button" ng-click="peCtrl.cancelForm()" class="btn btn-cancel">Cancel</button></span>
		</div>
	</form>
</main>