<section class="jumbotron ph-jumbotron">
  <h1>A free photo database for everyone who loves photography</h1>
  <div class="row tagline-row">
    <div class="col-xs-4 tagline"><span>Inspired</span><small class="hidden-xs hidden-sm"> by skilled photographers</small></div>
    <div class="col-xs-4 tagline"><span>Explore</span><small class="hidden-xs hidden-sm"> many great and stunning photos</small></div>
    <div class="col-xs-4 tagline"><span>Contribute</span><small class="hidden-xs hidden-sm"> to the community</small></div>
  </div>
  <h3>Always free</h3>
  <a href="#">Learn the license terms here</a>
  <a href="#" class="btn btn-phStart btn-primary">Get Start</a>
</section>
<div class="row">
  <div class="col-xs-3 feature">
    <section><i class="fa fa-cloud-upload i-upload"></i></section>
    <h3>Upload Instantly</h3>
    <p>Users can upload photo instantly from local drives with unlimited storage and full privacy.</p>
  </div>
  <div class="col-xs-3 feature">
    <section><i class="fa fa-user i-follow"></i></i></section>
    <h3>Follows Photographer</h3>
    <p>Users can follow each other and view each others activities and get inspiration.</p>
  </div>
  <div class="col-xs-3 feature">
    <section><i class="fa fa-share i-share"></i></section>
    <h3>Subscribe to Threads</h3>
    <p>Subscribe and share photos to public threads and start making it better with stunning and great photos.</p>
  </div>
</div>

<div class="row getStart">
  <div class="col-xs-12">
    <h1>Get start today and explore thousand of photos</h1>
    <div class="row">
      <div class="col-xs-6"><a href="#" class="btn btn-lg btn-primary pull-right">Register</a></div>
      <div class="col-xs-6"><a href="#" class="btn btn-success btn-lg">Explore more photos</a></div>
    </div>
  </div>
</div>
<!--<section class="layout jumbotron-container">
  <div class="grid m-width-100 ph-jumbotron">
    <article class="layout" id="heading-text">
      <p>A free photo database for everyone who loves photography</p>
    </article>
    <section class="layout tagline">
      <div class="grid m-width-33 pull-right"><span>Inspired</span><small> by skilled photographers</small></div>
      <div class="grid m-width-33"><span>Explore</span><small> many great and stunning photos</small></div>
      <div class="grid m-width-33 pull-left"><span>Contribute</span><small> to the community</small></div>
      <div class="clear"></div>
    </section>
    <section class="layout" id="always-free"><p>Always Free</p></section>
    <section class="layout" id="license"><a href="#">Learn license terms here</a></section>
    <section class="layout" id="getStart"><a href="/signup" class="btn btn-large btn-primary center-block">Get Start</a></section>
  </div>
</section>

<section class="layout features-container">
	<div class="grid m-width-100 d-width-30 feature">
		<section class="layout feature-icon"><i class="fa fa-cloud-upload"></i></section>
		<section class="layout feature-title"><h3>Upload Instantly</h3></section>
		<section class="layout feature-text"><p>Users can upload photo instantly from local drives with unlimited storage and full privacy.</p></section>
	</div>
	<div class="grid m-width-100 d-width-30 feature">
    <section class="layout feature-icon"><i class="fa fa-user"></i></section>
    <section class="layout feature-title"><h3>Follows Photographer</h3></section>
    <section class="layout feature-text"><p>Users can follow each other and view each others activities and get inspiration.</p></section>
  </div>
	<div class="grid m-width-100 d-width-30 feature">
    <section class="layout feature-icon"><i class="fa fa-share"></i></section>
    <section class="layout feature-title"><h3>Subscribe to Threads</h3></section>
    <section class="layout feature-text"><p>Subscribe and share photos to public threads and start making it better with stunning and great photos.</p></section>
  </div>
  <div class="clear"></div>
</section>

<section class="layout get-start">
  <div class="grid m-width-100">
    <div class="layout getStart-text"><h1>Get start today and explore thousand of photos</h1></div>
  </div>
  <div class="grid m-width-100">
    <div class="layout getStart-text">
      <div class="grid m-width-50"><a href="#" class="btn btn-normal btn-start">Register</div>
      <div class="grid m-width-50"><a href="#" class="btn btn-large btn-primary">Explore more photos</div>
    </div>
  </div>
</section>-->
