<section class="layout jumbotron-container">
  <div class="grid m-width-100 ph-jumbotron">
    <article class="layout" id="heading-text">
      <p>A free photo database for everyone who loves photography</p>
    </article>
    <section class="layout tagline">
      <div class="grid m-width-33 pull-right"><span>Inspired</span><small> by skilled photographers</small></div>
      <div class="grid m-width-33"><span>Explore</span><small> many great and stunning photos</small></div>
      <div class="grid m-width-33 pull-left"><span>Contribute</span><small> to the community</small></div>
      <div class="clear"></div>
    </section>
    <section class="layout" id="always-free"><p>Always Free</p></section>
    <section class="layout" id="license"><a href="#">Learn license terms here</a></section>
    <section class="layout" id="getStart"><a href="/signup" class="btn btn-large btn-primary center-block">Get Start</a></section>
  </div>
</section>
